/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-s-book {
  background-image: url(../assets/img/sprite.png);
  background-position: -50px 0px;
  width: 50px;
  height: 50px;
}
.icon-s-book_hover {
  background-image: url(../assets/img/sprite.png);
  background-position: -100px -100px;
  width: 50px;
  height: 50px;
}
.icon-s-comments {
  background-image: url(../assets/img/sprite.png);
  background-position: 0px -50px;
  width: 50px;
  height: 50px;
}
.icon-s-comments_hover {
  background-image: url(../assets/img/sprite.png);
  background-position: -50px -50px;
  width: 50px;
  height: 50px;
}
.icon-s-compose {
  background-image: url(../assets/img/sprite.png);
  background-position: -100px 0px;
  width: 50px;
  height: 50px;
}
.icon-s-compose_hover {
  background-image: url(../assets/img/sprite.png);
  background-position: -100px -50px;
  width: 50px;
  height: 50px;
}
.icon-s-facebook {
  background-image: url(../assets/img/sprite.png);
  background-position: 0px -100px;
  width: 50px;
  height: 50px;
}
.icon-s-facebook_hover {
  background-image: url(../assets/img/sprite.png);
  background-position: -50px -100px;
  width: 50px;
  height: 50px;
}
.icon-s-globe {
  background-image: url(../assets/img/sprite.png);
  background-position: 0px 0px;
  width: 50px;
  height: 50px;
}
.icon-s-globe_hover {
  background-image: url(../assets/img/sprite.png);
  background-position: -150px 0px;
  width: 50px;
  height: 50px;
}
.icon-s-home {
  background-image: url(../assets/img/sprite.png);
  background-position: -150px -50px;
  width: 50px;
  height: 50px;
}
.icon-s-home_hover {
  background-image: url(../assets/img/sprite.png);
  background-position: -150px -100px;
  width: 50px;
  height: 50px;
}
.icon-s-instagram {
  background-image: url(../assets/img/sprite.png);
  background-position: 0px -150px;
  width: 50px;
  height: 50px;
}
.icon-s-instagram_hover {
  background-image: url(../assets/img/sprite.png);
  background-position: -50px -150px;
  width: 50px;
  height: 50px;
}
.icon-s-user {
  background-image: url(../assets/img/sprite.png);
  background-position: -100px -150px;
  width: 50px;
  height: 50px;
}
.icon-s-user_hover {
  background-image: url(../assets/img/sprite.png);
  background-position: -150px -150px;
  width: 50px;
  height: 50px;
}
